@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css');
:root{
    --headerclr: #222533;
    --mainclr: #ffcb0f;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: .2s;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    border-radius: 20px;
}
.header{
    padding: 2rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerclr);
    border-radius: 50px;
}
#logo{
    color: var(--mainclr);
    font-size: 25px;
    text-shadow: white;
    box-shadow: rgba(253, 252, 252, 0.24) 0px 3px 8px;
    font-weight: 900;
    text-decoration: solid 100px;
    border-radius: 25px;
}

.icon-header div{
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.icon-header div:hover{
    color: var(--mainclr);
}
#menu-bar{
    display: none;
    border-radius: 20px;
    cursor: pointer;
}

.background-image{
    background: url(1\ \(6\).jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px;
}
.inner-back-text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-back-text h1{
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 5rem;
    text-transform: lowercase;
}
.inner-back-text h1 span{
    color: var(--mainclr);
    text-transform: uppercase;
}
.inner-back-btn{
    display: flex;
    justify-content: center;
}
.inner-back-btn a{
    margin-right: 1rem;
}
.inner-back-text p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.first-btn, .second-btn{
    padding: 2rem 4rem;
    background: var(--mainclr);
    border-radius: 30px;
    color: var(--headerclr);
    font-size: 1.5rem;
}
.first-btn, .second-btn:hover{
    background: var(--headerclr);
    color: white;
    letter-spacing: 3px;
}


.welcome{
    padding: 3rem 7%;
}
.main-welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50px;
}
.inner-welcome{
    flex: 1 1 45rem;
}
.welcome-text h1{
    font-size: 40px;
    color: var(--mainclr);
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
.welcome-text p{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
}
.welcome-text a{
   padding: 1.5rem 4rem;
   background: var(--mainclr);
   color: var(--headerclr);
   font-size: 1.5rem;
   border-radius: 30px;
}
.welcome-text a:hover{
    background: var(--headerclr);
    color: white;
 }
 .inner-welcome img{
    width: 50%;
    margin-top: 20px;
    border-radius: 30px;
}


.chose-us{
    padding: 3rem 7%;
    background-color: turquoise;
    border-radius: 300px;
}
.chose-us h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 80px;
}
.chose-us h1 span{
    color: var(--mainclr);
}
.chose-text{
    color: var(--headerclr);
    font-size: 1.5rem;
    padding: 1rem 10rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100px;
}
.main-chose{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 200px;
}
.inner-chose{
    flex: 1 1 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.chose-icon{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 8px solid var(--mainclr);
    border-radius: 100%;
    margin: 0 auto;
}
.chose-icon i{
   font-size: 40px;
   color: white;
   border: 8px solid var(--headerclr);
   transition: .5s;
   border-radius: 25px;
}
.chose-icon i:hover{
    color: var(--headerclr);
    transform: translateY(-25px);
}
 .inner-chose h2{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
 .inner-chose p{
   font-size: 1.5rem;
   padding: 0 1rem;
   text-align: center;
}
 .our-service{
    padding: 5rem 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .our-service h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
 .our-service h1 span{
    color: var(--mainclr);
}
 .main-service{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .inner-service{
    flex: 1 1 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
 .inner-service h2{
   padding: 1rem 0;
   font-size: 2rem;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 50px;
}
 .inner-service p{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
  .inner-service a{
    padding: 1.5rem 3rem;
    background: var(--mainclr);
    color: var(--headerclr);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-service a:hover{
    background: var(--headerclr);
    color: white;
}
 .inner-service img{
    width: 70%;
    margin-top: 20px;
    border-radius: 30px;
}
.our-gallery{
    padding: 4rem 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
.our-gallery h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.our-gallery h1 span{
    color: var(--mainclr);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-gallery{
    flex: 1 1 100px;
}
.inner-gallery img{
    width: 100%;
    height: 100px;
    transition: .5s;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-gallery img:hover{
    transform: translateY(-25px);
}
.customer-review{
    padding: 4rem 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    background-color: #c5c1dd;
}
.customer-review h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.customer-review h1 span{
    color: var(--mainclr);
}
.main-review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.inner-review{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
.inner-review:hover{
    background: var(--mainclr);
 }
 .inner-review:hover i{
    color: white;
 }
.inner-review p{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.inner-review img{
   width: 50px;
   border-radius: 30px;
}
.inner-review i{
    position: absolute;
    font-size: 3rem;
    left: 1rem;
    top: 1rem;
    color: var(--mainclr);
 }
 footer{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding: 4rem 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 200px;
    background-color: #8a82bd;
 }
 footer span{
    color: var(--mainclr);
    font-weight: bold;
}
footer h1{
    color: blue;
    font-weight: bold;
}







.menu-bar{
    display: flex;
    align-items: center;
}
.menu-icon{
    cursor: pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    background-color: white;
}
.menu{
    display: none;
    list-style: none;
}
.menu.active{
    display: block;
}
.menu li{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.menu li a{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.menu li a:hover{
    color: var(--mainclr);
    text-decoration: underline;
}



.search-container{
    text-align: center;
    margin-top: 0px;
}
input[type="text"]{
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
button{
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}
button:hover{
    background-color: #0056b3;
    transition: .5s;
}


















@media (max-width:767px){
    html{
        font-size: 55%;
    }
    #menu-bar{
        display: initial;
    }
    .header{
        padding: 2rem;
    }
    .inner-back-text{
        width: 100% !important;
    }
    .inner-welcome img{
        margin-top: 20px;
        text-align: center;
    }
    .chose-text{
        padding: 1rem 2rem;
    }
}
